<%- include('head') %>
<%- include('header') %>

<div class="container">
    <section class="cart">
        <h1 class="text-center mb-4">Panier</h1>
        <div id="cart">
            <% if (locals.data) { %>
            <table class="table table-borderless">
                <tbody>
                    <thead>
                        <tr>
                            <th scope="col">Produit</th>
                            <th scope="col" class="text-right">Quantité</th>
                            <th scope="col" class="text-right">Prix</th>
                        </tr>
                    </thead>
                    <% for(var i=0; i < data.length; i++) { %>
                    <tr>
                        <td>
                            <img src="<%= data[i].img %>" class="img-fluid mr-3" alt="<%= data[i].name %>" width="80">
                            <span><%= data[i].name %></span>
                        </td>
                        <td class="text-right">
                            <span><%= data[i].qty %></span>
                        </td>
                        <td class="text-right">
                            <span><%= data[i].price + " €" %></span>
                        </td>
                        <td class="text-right">
                            <form action="/remove" method="POST">
                                <input type="hidden" name="product_id" value="<%= data[i].id %>">
                                <button type="submit" class="btn btn-secondary">X</button>
                            </form>
                        </td>
                    </tr>
                    <% } %>
                </tbody>
            </table>

            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>Total</strong></li>
                <li class="list-group-item "><strong><%= totalPrice + " €" %></strong></li>
            </ul>

            <% } else { %>
            <p class="alert alert-warning">Votre panier est vide :(</p>
            <% } %>


            <div class="jumbotron mt-5">
                <h2 class="text-center">Votre adresse</h2>
                <p class="lead text-center">Veuillez remplir votre adresse ci-dessous</p>

                <% if (locals.errors) { %>
                <% Object.values(errors).forEach(function(error){ %>
                <p class="alert alert-danger"><%= error.msg %></p>
                <% }); %>
                <% } %>

                <form method="post" action="/order">
                    <div class="form-row">
                        <div class="col-sm-12 col-md-6 mb-3">
                            <label for="firstName">Prénom</label>
                            <input type="text" maxlength="30" class="form-control" id="firstName" name="firstName">
                        </div>
                        <div class="col-sm-12 col-md-6 mb-3">
                            <label for="lastName">Nom</label>
                            <input type="text" maxlength="30" class="form-control" id="lastName" name="lastName">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-sm-12 col-md-6 mb-3">
                            <label for="address">Adresse</label>
                            <input type="text" maxlength="50" class="form-control" id="address" name="address">
                        </div>
                        <div class="col-sm-12 col-md-3 mb-3">
                            <label for="city">Ville</label>
                            <input type="text" maxlength="30" class="form-control" id="city" name="city">
                        </div>
                        <div class="col-sm-12 col-md-3 mb-3">
                            <label for="email">Email</label>
                            <input type="text" class="form-control" id="email" name="email">
                        </div>
                    </div>
                    <input type="submit" class="mt-4 btn btn-primary btn-lg btn-block" value="Commander">
                </form>
            </div>
        </div>
    </section>
</div>

<%- include('footer') %>