<%- include('head') %>
<%- include('header') %>

<div class="container">
    <section class="cart">
        <h1 class="text-center mb-4">Panier</h1>
        <div id="cart">
            <% if (locals.cartData) { %>
            <% if (locals.cartData.length !== 0) { %>
            <table class="table table-borderless">
                <tbody>
                    <thead>
                        <tr>
                            <th scope="col">Produit</th>
                            <th scope="col" class="text-right">Quantité</th>
                            <th scope="col" class="text-right">Prix</th>
                        </tr>
                    </thead>
                    <% for(let i=0; i < cartData.length; i++) { %>
                    <tr>
                        <td>
                            <img src="<%= cartData[i].img %>" class="img-fluid mr-3" alt="<%= cartData[i].name %>"
                                width="80">
                            <span><%= cartData[i].name %></span>
                        </td>
                        <td class="text-right">
                            <span><%= cartData[i].qty %></span>
                        </td>
                        <td class="text-right">
                            <span><%= cartData[i].price + " €" %></span>
                        </td>
                        <td class="text-right">
                            <form action="/remove" method="POST">
                                <input type="hidden" name="product_id" value="<%= cartData[i].id %>">
                                <button type="submit" class="btn btn-secondary">X</button>
                            </form>
                        </td>
                    </tr>
                    <% } %>
                </tbody>
            </table>

            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>Total</strong></li>
                <li class="list-group-item "><strong><%= locals.cartTotalPrice + " €" %></strong></li>
            </ul>

            <div class="jumbotron mt-5">
                <h2 class="text-center">Votre adresse</h2>
                <p class="lead text-center">Veuillez remplir votre adresse ci-dessous</p>

                <form method="post" action="/order" novalidate>
                    <div class="form-row">
                        <div class="col-sm-12 col-md-6 mb-3">
                            <label for="firstName">Prénom</label>
                            <input type="text" maxlength="30" class="form-control
                                <% if (locals.firstNameError) { %>is-invalid<% } %>" id="firstName" name="firstName"
                                value="<% locals.firstName %>">
                            <div class=" invalid-feedback"><%= locals.firstNameError %></div>
                        </div>
                        <div class="col-sm-12 col-md-6 mb-3">
                            <label for="lastName">Nom</label>
                            <input type="text" maxlength="30"
                                class="form-control <% if (locals.lastNameError) { %>is-invalid<% } %>" id="lastName"
                                name="lastName">
                            <div class="invalid-feedback"><%= locals.lastNameError %></div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-sm-12 col-md-6 mb-3">
                            <label for="address">Adresse</label>
                            <input type="text" maxlength="50"
                                class="form-control <% if (locals.addressError) { %>is-invalid<% } %>" id="address"
                                name="address">
                            <div class="invalid-feedback"><%= locals.addressError %></div>
                        </div>
                        <div class="col-sm-12 col-md-3 mb-3">
                            <label for="city">Ville</label>
                            <input type="text" maxlength="30"
                                class="form-control <% if (locals.cityError) { %>is-invalid<% } %>" id="city"
                                name="city">
                            <div class="invalid-feedback"><%= locals.cityError %></div>
                        </div>
                        <div class="col-sm-12 col-md-3 mb-3">
                            <label for="email">Email</label>
                            <input type="text" class="form-control <% if (locals.emailError) { %>is-invalid<% } %>"
                                id="email" name="email">
                            <div class="invalid-feedback"><%= locals.emailError %></div>
                        </div>
                    </div>
                    <input type="submit" class="mt-4 btn btn-primary btn-lg btn-block" value="Commander">
                </form>
            </div>

            <% } else { %>
            <p class="alert alert-warning">Votre panier est vide :(</p>
            <% } %>
            <% } %>
        </div>
    </section>
</div>

<%- include('footer') %>