<!DOCTYPE html>
<html>

<head>
    <title><%= typeof title != 'undefined' ? title : 'Orinoco' %></title>

    <html lang="fr">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Benoit Podwinski">
    <meta name="description"
        content="<%= typeof data != 'undefined' ? data.description : 'Site de vente de peluche' %>">
    <meta property="og:title" content="<%= typeof title != 'undefined' ? title : 'Orinoco' %>">
    <meta property="og:description"
        content="<%= typeof data != 'undefined' ? data.description : 'Site de vente de peluche' %>">
    <meta property="og:url" content="https://orinoco.com/">
    <meta property="og:site_name" content="<%= typeof title != 'undefined' ? title : 'Orinoco' %>">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:url" content="https://orinoco.com/">
    <meta name="twitter:title" content="<%= typeof title != 'undefined' ? title : 'Orinoco' %>">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>