<%- include('head') %>
<%- include('header') %>

<div class="container">
    <section class="products">
        <div id="product" class="row">
            <div class="col-12 col-md-6 mb-4">
                <img src="<%= data.imageUrl %>" class="card-img-top" alt="<%= data.name %>">
            </div>
            <div class="col-12 col-md-6">
                <h1 class="title mb-4"><%= data.name %></h1>

                <form method="post" action="/ajouter/<%= data._id %>">

                    <div class="form-row mb-4">
                        <div class="col-12">
                            <label for="product_lens">Objectifs</label>
                            <select class="custom-select" id="lens" name="product_lens">
                                <% for(var i=0; i < data.lenses.length; i++) { %>
                                <option><%= data.lenses[i] %></option>
                                <% } %>
                            </select>
                        </div>
                    </div>

                    <p class="description"><%= data.description %></p>

                    <div class="form-row mb-4">
                        <div class="col-12">
                            <label id="quantity" for="product_qty">Quantité</label>
                            <input type="number" min="1" max="10" value="1" name="product_qty" id="quantity"
                                class="form-control" placeholder="Quantité" aria-label="Quantité"
                                aria-describedby="quantity">
                        </div>
                    </div>

                    <p class="price"><%= data.price + " €" %></p>

                    <input type="hidden" name="product_id" value="<%= data._id %>">
                    <input type="hidden" name="product_img" value="<%= data.imageUrl %>">
                    <input type="hidden" name="product_name" value="<%= data.name %>">
                    <input type="hidden" name="product_price" value="<%= data.price %>">
                    <button type="submit" class="btn btn-secondary btn-lg btn-block addtocart">Ajouter au
                        panier</button>

                </form>
            </div>
        </div>
    </section>
</div>

<%- include('footer') %>